*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    height:300px ;
    width:300px ;
    border:1px solid black ;
    background-color: brown;
    position: relative;
    transition:all 0.4s ;
}

#box:hover::before{
    content:" ";
    position:absolute;
    color: white;
    z-index: 2;
    top:0;
    bottom:0 ;
    left:0; 
    right:0 ;
    background-color: black;
    opacity:0.6 ;
}

#box:hover::after{
    content:"See more";
    position:absolute;
    color: white;
    z-index: 3;
    top:0;
    bottom:0 ;
    left:0; 
    right:0 ;
    display: flex;
    justify-content: center;
    align-items: center;

}